:root {
  --primary-bg: #d369f7;
  --svg-color: #cf3ffdf;
}
.chatsection {
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.emptyChat {
  display: flex;
  align-items: center;
  justify-content: center;
}
.emptyChat > img {
  height: 80%;
  width: 80%;
}
.imageText {
  font-size: large;
  position: absolute;
  bottom: 5rem;
}
.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
  padding: 0.5rem;
  background-color: var(--primary-bg);
}

.title_avatar {
  display: flex;
  align-items: center;
}
