:root {
  --primary-bg: #d369f7;
  --bluishShade: #dfe9f1;
  --greyShade: #e0e0e0;
}
.mainContainer {
  height: 100%;
  width: 100%;
  background-color: var(--bluishShade);
  display: flex;
  align-items: center;
  justify-content: center;
}
.innerContainer {
  height: 95%;
  width: 75% !important;
  background-color: white;
  border-radius: 1rem;
  padding: 0.5%;
  box-shadow: 0 0 10px 0.8px var(--greyShade);
}
.leftsection {
  background-color: white;
  display: flex;
  flex-direction: column;
  flex: 5;
  height: 100%;
}
.rightsection {
  border-radius: 0.5rem;
  background-color: var(--bluishShade);
  padding: 0 !important;
  height: 100%;
  overflow: hidden;
}
