.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--greyShade);
  /* width: 94%; */
  padding: 1rem;
  border-radius: 0.5rem;
}
