.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--greyShade);
  /* width: 94%; */
  padding: 1rem;
  border-radius: 0.5rem;
}
.name {
  margin: 0;
}
.linkSection {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.linkSection > h6 {
  margin: 0;
  margin-right: 0.5rem;
}
.textSection {
  display: flex;
  align-items: center;
}
.linkfield {
  height: 1.3rem !important;
  width: 50%;
  overflow: hidden;
}
