.inputSection {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  /* bottom: -100%; */
}
.inputSection > input {
  width: 90%;
  height: 50%;
  border-radius: 0.8rem;
  outline: none;
  padding: 1rem;
  border: 1px solid black;
  font-size: 15px;
}
