.messageBox {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 10;
  height: 100%;
  padding: 10px;
  overflow-y: scroll;
}
.messageBox::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.messageBox {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
