/* body {
  height: 100vh;
  width: 100%;
} */
:root {
  --primary-bg: #d369f7;
  --svg-color: #cf3ffdf;
}
.App {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  width: 100%;
  /* background-color: var(--primary-bg); */
  display: flex;
  align-items: center;
  justify-content: center;
}
