.adminContainer > span {
  display: flex;
  margin-left: auto;
  justify-content: flex-end;
  font-size: small;
}
.adminMessage {
  background-color: var(--greyShade);
  width: fit-content;
  max-width: 70%;
  padding: 0.5rem;
  border-radius: 10px;
  border-top-right-radius: 0;
  margin-left: auto;
}
.text {
  margin: 0;
}
.time {
  font-size: small;
  text-align: end;
  margin: 0;
}
