.fullContainer > span {
  display: flex;
  margin-left: auto;
  justify-content: flex-start;
  font-size: small;
}
.friendMessage {
  background-color: purple;
  color: white;
  width: fit-content;
  max-width: 70%;
  padding: 0.5rem;
  border-radius: 10px;
  border-top-left-radius: 0;
  margin-right: auto;
}
.text {
  margin: 0;
}
